* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;


    --light: #D58936;
    --mid: #A44200;
    --dark: #3C1518;
    --red: #69140E;
    --yellow: #FFFB46;


  }

  .content-block {
    margin: 5rem 10rem 0rem 10rem;
  }

  .container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #000;
      opacity: .9;
  }
  
  html {
    color: #333;
    font: 20px/1 sans-serif;
    height: 100%;

  }

 .main-content {
      height: 100vh;
      background-size: cover;
      background-image: url("./whisky.jpg");
      color:#fff;
      opacity: .9;
      text-transform: uppercase;
      list-style:none;;
  }

  .nav-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      list-style: none;
      margin-top:2rem;

      
  }

  .nav-list-item {
     margin-right:1rem;
      text-decoration: none;
      list-style: none;
      color:#fff; 

  }


  .page-title {
    color: #fff;
    margin-top: 2rem;
   
    
  }
  .wrapper {
      display: flex;
      flex-direction: column;
     min-height: 100%;
      margin-bottom: -50px;
  }

  .main-content-area {
    padding: 2rem 0;
    text-align: center;
    display:flex;
    flex-direction: row;
  }

  .footer {
    color: #fff;
    background-color: #000;
    opacity: .9;
    /* margin-top:2.2rem; */
  }
  .content-block__description{
    margin-top: 2rem !important;
  }

